body {
  color: #e0e1dd;
}

.hero {
  background: url('../../assets/fundo-bem-vindo.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e0e1dd;
  text-align: center;
  padding: 20px;
  position: relative;
  background-position: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.hero p {
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
}

.home-main {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: #1b2631;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f1c40f;
}
section h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #f1c40f;
  letter-spacing: 2px;
}

.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .book-item {
    flex: 0 1 calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .book-item {
    flex: 0 1 calc(100% - 20px);
  }
}

/* Parte de Cadastro e Login do APP*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background: url('../../assets/fundo-cadastro.jpg');
}
.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content::before {
  content: '';
  position: absolute;
  background-color: #eccf2c;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
}
.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-primary {
  color: #fff;
}
.title-second {
  color: #eccf2c;
}
.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.description-primary {
  color: #fff;
}
.description-second {
  color: #7f8c8d;
}

.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 11;
}
.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}
.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

/*Segunda aba: cadastro*/

.second-content {
  position: absolute;
  display: flex;
}
.second-content .first-column {
  order: 2;
  z-index: -1;
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password {
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
  color: #e2443c;
}

.password::first-letter {
  text-transform: underline;
}

.role {
  color: #eccf2c;
  margin: 10px;
}

select {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .second-content .first-column {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s;

  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s;

  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  z-index: 13;
}

.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.3s;
}

.sign-up-js .second-content .second-column {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 1.3s;
}

@keyframes deslocamentoEsq {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0.5;
  }

  50% {
    left: -100px;
    opacity: 0.2;
  }

  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir {
  from {
    left: 0;
    z-index: 12;
  }

  25% {
    left: 80px;
  }

  50% {
    left: 100px;
  }

  to {
    left: 110px;
    z-index: -1;
  }
}

/*ANIMAÇÃO CSS*/

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}

@media screen and (max-width: 740px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 100%;
  }
}
/* FIM---Parte de Cadastro e Login do APP*/

/* Responsividade */
@media (max-width: 600px) {
  input,
  select {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

/* Catálogo de Livro*/
.container.sidebar {
  width: 300px;
  height: 400px;
  background-color: #bd462e;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}
