body {
  color: #e0e1dd;
}

.hero {
  background: url("../../assets/fundo-bem-vindo.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e0e1dd;
  text-align: center;
  padding: 20px;
  position: relative;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.hero p {
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
}

.home-main {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: #1b2631;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f1c40f;
}
section h1 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: #f1c40f;
  letter-spacing: 2px;
}

.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-item {
  flex: 0 1 calc(30% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #e0e1dd;
}

.book-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.book-item img {
  width: 100%;
  height: auto;
}

.book-info {
  padding: 15px;
  color: #0d1b2a;
}

.book-info h3 {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .book-item {
    flex: 0 1 calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .book-item {
    flex: 0 1 calc(100% - 20px);
  }
}

/* Parte de Cadastro e Login do APP*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("../../assets/fundo-cadastro.jpg");
}
.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content::before {
  content: "";
  position: absolute;
  background-color: #eccf2c;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
}
.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-primary {
  color: #fff;
}
.title-second {
  color: #eccf2c;
}
.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.description-primary {
  color: #fff;
}
.description-second {
  color: #7f8c8d;
}
.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}
.btn-outros {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color 0.5s;
  padding: 15px 32px;
  display: flex;
}
.btn-outros:hover {
  background-color: #fff;
  color: #090909;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #e2443c;
}

.btn-second {
  background-color: #eccf2c;
  border: 1px solid #eccf2c;
  transition: background-color 0.5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #eccf2c;
  color: #e2443c;
}
.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 11;
}
.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}
.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

/*Segunda aba: cadastro*/

.second-content {
  position: absolute;
  display: flex;
}
.second-content .first-column {
  order: 2;
  z-index: -1;
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password {
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
  color: #e2443c;
}

.password::first-letter {
  text-transform: underline;
}

.role {
  color: #eccf2c;
  margin: 10px;
}

select {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .second-content .first-column {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s;

  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s;

  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  z-index: 13;
}

.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.3s;
}

.sign-up-js .second-content .second-column {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 1.3s;
}

@keyframes deslocamentoEsq {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0.5;
  }

  50% {
    left: -100px;
    opacity: 0.2;
  }

  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir {
  from {
    left: 0;
    z-index: 12;
  }

  25% {
    left: 80px;
  }

  50% {
    left: 100px;
  }

  to {
    left: 110px;
    z-index: -1;
  }
}

/*ANIMAÇÃO CSS*/

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}

@media screen and (max-width: 740px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 100%;
  }
}
/* FIM---Parte de Cadastro e Login do APP*/

/* Responsividade */
@media (max-width: 600px) {
  input,
  select {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

/* Catálogo de Livro*/

.container.sidebar {
  width: 300px;
  height: 400px;
  background-color: #bd462e;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-item {
  display: block;
  width: 20%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #c13502;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #006064;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: #0d0e0f;
  color: #eccf2c;
}

.filter-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: table;
  justify-content: center;
}

.filter-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #c13502;
  font-size: 14px;
}

.filter-form input,
.filter-form select {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-form button {
  width: 50%;
  padding: 10px;
  background-color: #eccf2c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-form button:hover {
  background-color: #0d0e0f;
  color: #eccf2c;
}

/*Passar do livro para a descrição dele*/

.book-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.book-header {
  text-align: center;
}

.book-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.book-header p {
  font-size: 1rem;
  color: #666;
}

.book-cover {
  width: 300px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-cover:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.book-details {
  max-width: 800px;
  text-align: justify;
}

.book-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

.book-details p {
  font-size: 1rem;
  color: #555;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #004da3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #444;
}

.add-cart-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-cart-btn:hover {
  background-color: #c13131;
}

.add-cart-btn i {
  margin: 0;
  font-size: 15px;
}
