.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}
.labelInput {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

.role {
  color: #eccf2c;
  margin: 10px;
}
